@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
/* MAIN */
.root{
    -fx-background-color: white;
}
.label{
    -fx-font-family: "Lexend", sans-serif;
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;    
    -fx-border-width: 1;
}

.button {
    -fx-cursor: hand;
}
/* LOGIN FXML */
#labelforg{
    -fx-text-fill: #28437C;
    -fx-font-family: "Lexend", sans-serif;
}
#loginLabel {
    -fx-font-family: "Lexend", sans-serif;
}
#Signup{
    -fx-text-fill: #28437C;
    -fx-font-family: "Lexend", sans-serif;
    -fx-font-size: 14;
}
#See{
    -fx-text-fill: white;
    -fx-font-family: "Lexend", sans-serif;
    -fx-font-size: 35;
}
#See3{
    -fx-text-fill: white;
    -fx-font-family: "Lexend", sans-serif;
    -fx-font-size: 19;
}

#myRecipes {
    -fx-font-weight: bold;
    -fx-font-size: 22;
    -fx-font-family: "Lexend", sans-serif;
}
#rectangle{
    -fx-arc-width: 60px;
    -fx-arc-height: 60px;
    -fx-border-radius: 30px; 
}
#ButtonL{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 13;
    -fx-font-family: "Open Sans", sans-serif;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-padding: 8px;
    -fx-cursor: hand;
    -fx-font-family: "Lexend", sans-serif;
}
#ButtonL:hover {
    -fx-text-fill: black;
    -fx-font-size: 13;
    -fx-background-radius: 25px; 
    -fx-border-radius: 25px;
    -fx-background-color: white;
    -fx-border-color:black;
    -fx-border-radius: 20;
    -fx-border-width: 3
}
#ButtonL:pressed {
    -fx-text-fill: black;
    -fx-font-size: 13;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-background-color: white;
    -fx-border-color:#b0b0b0;
    -fx-border-radius: 20;
    -fx-border-width: 3
}
#username, #password{
    -fx-font-family: "Lexend", sans-serif;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-background-color: #f5f5f5;
    -fx-border-color: #ddd;
    -fx-border-width: 1px;
    -fx-padding: 8px;
}

#username:focused, #password:focused{
    -fx-border-color:black;
}

#Progressbar{
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #bdbdbd;
    -fx-padding: 3px;
    -fx-accent: black;
}

/*MAIN MENU PAGE*/

#menub, #recipeb, #accountb, #settingsb, #logoutb, #backwardsB, #forwardsB{
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-font-size: 14;
    -fx-font-family: "Lexend", sans-serif;
    -fx-cursor: hand;
}

#profileB{
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-font-size: 18;
    -fx-font-family: "Lexend", sans-serif;
    -fx-cursor: hand;
}
#logoutb{
    -fx-text-fill: red;
    -fx-cursor: hand;
    -fx-font-family: "Lexend", sans-serif;
}

#lolxd{
    -fx-background-color: black;
}


#paneD{
    -fx-background-color: black;
}

#menub:hover, #recipeb:hover, #accountb:hover, #settingsb:hover, #logoutb:hover, #logoutb:hover, #menub1:hover, #backwardsB:hover, #forwardsB:hover, #profileB:hover{
    -fx-background-color: #262525; 
    -fx-border-width: 2px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}


#menub:pressed, #recipeb:pressed, #accountb:pressed, #settingsb:pressed, #logoutb:pressed, #menub1:pressed, #backwardsB:pressed, #forwardsB:pressed{
    -fx-border-width: 2px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-opacity: 0.5;
}

#recipeb:pressed .button-graphic {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-opacity: 0.8;
}

/* MENU-BUTTON DOWN*/
#menub1 {
    -fx-background-color: black;
    -fx-font-size: 14;
    -fx-font-family: Nunito;
    -fx-cursor: hand;
}

.menu-button .context-menu {
    -fx-background-color: #333333;
    -fx-border-color: #ffffff20;
    -fx-border-width: 1;
}

.menu-button .menu-item {
    -fx-background-color: #333333;
    -fx-text-fill: white !important;
    -fx-pref-width: 200px;
}

.menu-button .menu-item:hover {
    -fx-background-color: #444444;
    -fx-text-fill: white !important; 
}

.menu-button .menu-item:focused {
    -fx-background-color: #555555;
    -fx-text-fill: white !important; 
}

.menu-button .menu-item .label {
    -fx-text-fill: white !important;
}

/* TABLEVIEW AND OTHERS*/
.table-view .column-header .label {
    -fx-alignment: CENTER;
}

.table-view .table-cell {
    -fx-alignment: CENTER;
    -fx-border-width: 3;
    -fx-border-color: transparent;
    -fx-cell-size: 22px;
}

.table-view {
    -fx-background-color: white;
    -fx-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #f8f9fa;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-fill: #6c757d;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

/* Table cells */
.table-view .table-cell {
    -fx-border-color: transparent transparent #e0e0e0 transparent;
    -fx-font-size: 14px;
}

/* Rows */
.table-view .table-row-cell {
    -fx-background-color: white;
    -fx-cell-size: 25px;
}

.table-view .table-row-cell:selected {
    -fx-background-color: black;
}

.table-view .table-row-cell:empty .table-cell {
    -fx-border-color: transparent;
}

.table-view .table-cell:filled {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #e0e0e0;
}

#search {
    -fx-background-color: white;
}

#add{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 13;
    -fx-font-family: Nunito;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-padding: 8px;
    -fx-cursor: hand;
    -fx-font-family: "Lexend", sans-serif;
}
#add:hover {
    -fx-background-color: #262525;
} 

#filter{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 13;
    -fx-font-family: Nunito;
    -fx-border-color: black;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-padding: 8px;
    -fx-border-width: 2;
    -fx-font-family: "Lexend", sans-serif;
}

#filter:hover {
    -fx-border-width: 3;
}
#searchB{
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-background-color: #f5f5f5;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-padding: 8px;
}

#searchB:focused {
    -fx-background-color:white;
}
/* POPUP WINDOW*/
#popUpWindow {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 20, 0, 0, 0);
}

#popUpExitB {
    -fx-background-color: #f7f7f7;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-cursor: hand;
}
#popUpExitB:hover {
    -fx-border-color: black;
}

#addB, #saveB{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 13;
    -fx-font-family: Nunito;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-padding: 8px;
    -fx-cursor: hand;
    -fx-font-family: "Lexend", sans-serif;
}
#addB:hover, #saveB:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
}

#cancelB{
    -fx-background-color: trasnparent;
    -fx-border-color: lightgrey;
    -fx-border-radius: 15px;
    -fx-border-width: 2;
    -fx-cursor: hand;
}
#cancelB:hover {
    -fx-border-color: black;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-background-color:red;
    -fx-text-fill:white;
}
#nameS, #ingredientCS , #categoryS, #difficultyS, #caloriesS{
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-border-width: 1;
    -fx-font-family: "Lexend", sans-serif;
}
#descriptionS, #countryS, #genderS{
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-border-width: 1;
}
#categoryS{
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-width: 1;
    -fx-font-size: 14;
    -fx-font-family: "Lexend", sans-serif;
    -fx-cursor: hand;
}
#difficultyS {
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-width: 1;
    -fx-font-size: 14;    
    -fx-font-family: "Lexend", sans-serif;
    -fx-cursor: hand;
}

#photoS {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-cursor: hand;
    -fx-pref-width: 120px;
    -fx-pref-height: 100px;
    -fx-min-width: 120px;
    -fx-min-height: 100px;
    -fx-max-width: 120px;
    -fx-max-height: 100px;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-border-width: 2px;
    -fx-padding: 10px;
}

#gridUser , #gridUser1{
    -fx-background-color: transparent;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-border-color: #ccc;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

#paneProfile {
    -fx-background-color: transparent;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-border-color: #ccc;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

#cuisineB {
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

#cuisineB:hover {
    -fx-background-color: #f5f5f5;
}

#dessertB, #lunchB, #saladB, #dinnerB, #appetizerB, #breakfastB{
    -fx-background-color: f5f5f5;
    -fx-border-color: grey;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-text-fill:grey;
    -fx-cursor: hand;
}

#dessertB:selected, #lunchB:selected, #saladB:selected, #dinnerB:selected, #appetizerB:selected, #breakfastB:selected{
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-border-width: 1 1 2 1;
}

#paneF {
    -fx-border-width: 2 0 2 0;
    -fx-border-color: f5f5f5;
}

#paneF1 {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: f5f5f5;
}

#easyB, #mediumB, #hardB {
    -fx-border-color: grey;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.check-box {
    -fx-font-size: 14;
    -fx-text-fill: black;
    -fx-padding: 5px;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color: #999999;
    -fx-border-radius: 15px;
    -fx-border-width: 1px;
}

#menuC {
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-font-size: 14;
    -fx-cursor: hand;
    -fx-border-color: grey;
    -fx-border-radius: 15px;
    -fx-border-width: 1px;  
}

#homeSearch{
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-color: #ffecf2;
    -fx-border-color: transparent;
    -fx-padding: 30;
    -fx-font-family: "Lexend", sans-serif;
}

#homeS {
    -fx-background-color: black;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-padding: 0;
    -fx-font-family: "Lexend", sans-serif;
}

#homeBack {
    -fx-background-color: white;
    -fx-font-family: "Lexend", sans-serif;
}

#homeLabel{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-padding: 0;
    -fx-font-family: "Lexend", sans-serif;
}

#labelHome2{
    -fx-font-weight: bold;
}